<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if site.data.profile.publication_progress %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1 publication-progress-list">
                            <h6>Publication Progress</h6>
                            {% for item in site.data.profile.publication_progress %}
                            <div class="publication-progress-item">
                                <div class="publication-progress-head">
                                    <span class="publication-progress-name">{{ item.name }}</span>
                                    <span class="publication-progress-count">
                                        {% if item.count_label %}{{ item.count_label }}{% else %}{{ item.current }}{% if item.total %} / {{ item.total }}{% endif %}{% endif %}
                                    </span>
                                </div>
                                <div class="progress publication-progress-track">
                                    {% if item.total %}
                                    {% assign progress_percent = item.current | times: 100 | divided_by: item.total %}
                                    <div class="progress-bar publication-progress-fill publication-progress-fill-a" role="progressbar" style="width: {{ progress_percent }}%;" aria-valuenow="{{ item.current }}" aria-valuemin="0" aria-valuemax="{{ item.total }}"></div>
                                    {% else %}
                                    <div class="progress-bar progress-bar-striped publication-progress-fill publication-progress-fill-open {% if item.variant == "writing" %}publication-progress-fill-writing{% elsif item.variant == "ccf-a" %}publication-progress-fill-a{% else %}publication-progress-fill-b{% endif %}" role="img" style="width: 100%;" aria-label="{{ item.name }}: {{ item.current }} papers{% if item.caption %}, {{ item.caption }}{% endif %}"></div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
